body {
	background-image: url(../img/beach-cove-01.jpeg);
	background-size: cover;
	background-color: #5C6F8D;
	font-family: "Open Sans", sans serif;
	text-align: center;
	color: #aaa;
	background-repeat: no-repeat;
}

.card {
	width: 284px;
	display: inline-block;
	margin: 100px auto;
	box-shadow: 0 0 1px 2px rgba(0,0,0, 0.08);
	border-radius: 1px;
	overflow: hidden;
}

.avatar {
	background: none no-repeat;
	height: 116px;
	width: 115px;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	margin: -61px auto;
	border: 3px solid #FFF;
	position: relative;
}

header {
	font-family: 'Arvo', serif;
	font-size: 30px;
	color: #fff;
	background: rgba(255,255,255, 0.3);
	padding: 48px 20px 95px;
	margin: 0;
	display: block;
	border-bottom: 2px solid #fff;
	-webkit-font-smoothing: antialiased;
}

footer {
	font-size: 13px;
	font-weight: normal;
	background: rgba(255,255,255, 0.9);
	margin: 0;
	display: block;
	padding: 78px 20px 33px;
}

p {
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	padding: 0 20px 3px;
}

ul {
	padding: 2px 15px 0px;
	margin: 22px 0 0;
	list-style-type: none;
}

li {
	display: inline-block;
}

li a {
	height: 0;
	overflow: hidden;
	padding-top: 30px;
	width: 30px;
	display: block;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 14px 14px;
}

li a:hover {
	box-shadow: 0 0 3px #4c7ecf;
	width: 40px;
	padding-top: 40px;
	margin: -5px 5px;
	background-size: 18px 18px;
}

.facebook a {
	background-image: url(../img/facebook-grey.png);
}

.twitter a {
	background-image: url(../img/twitter-grey.png);
}

.dribbble a {
	background-image: url(../img/dribbble-grey.png);
}






